html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background-color: #0D2350;
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: #FFFEFD;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 100rem;
    margin: 0 auto;
}
h1,h2,h3 {
    text-align: center;
    color: goldenrod;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
}
h1 {
    font-size: 4rem;
    color: goldenrod;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2rem;
}
/* HEADER */
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 2rem 0;
    width: 20rem;
}
/* FOOTER */
.footer {
    background-color: #0971c9;
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/* NAVEGACION */
.navbar {
    background-color: #0971c9;
    padding: 1rem 0;
    text-transform: uppercase;

    display: flex;
    justify-content: space-around;
}
.navbar__enlace {
    font-family: 'Staatliches', cursive;
    color: #FFFEFD;
    font-size: 3rem;
}
.navbar__enlace--activo, .navbar__enlace:hover {
    color: gold;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: .8rem;
}
@media (min-width: 768px) {
   .grid {
    grid-template-columns: repeat(3, 1fr);
   } 
}
.producto {
    display: flex;
    align-items: center;
    background-color: #0971c9;
    padding: .5rem;
    transition: padding .6s ease;
}
.producto__imagen {
    width: 100%;
}
.producto:hover {
    padding: .2rem;
}
.producto__nombre {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: .2rem;
    font-weight: normal;
}
.producto__precio {
    font-size: 2.5rem;
    font-weight: bold;
    color: goldenrod;
    line-height: 1.2;
}
.producto__nombre, .producto__precio {
    margin: 1rem 0;
    text-align: center;
}

.grafico {
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas {
    background-image: url(img/grafico1.jpg);
    grid-row: 2 / 3;
}
.grafico--node {
    background-image: url(img/grafico2.jpg);
    grid-row: 7 / 8;
}
@media (min-width: 768px) {
    .grafico--node {
        background-image: url(img/grafico2.jpg);
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
}
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__contenido {
    text-align: justify;
    padding: 1rem;
}
.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    } 
}

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
.bloque {
    text-align: center;
}
.bloque__titulo {
    margin: 0;
}
.bloque__imagen {
    width: 50%;
}
.camisa {
    padding: 2rem;
}
@media (min-width: 768px) {
   .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
   } 
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    background-color: #0971c9;
    color: #FFFEFD;
    border: .2rem solid goldenrod;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem;
    appearance: none;
    min-width: 50%;
}
.formulario__campo::placeholder {
    color: #FFFEFD;
}
.formulario__submit {
    background-color: gold;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding: 2rem;
    transition: background-color .7s ease;
    grid-column: 1 / 3;
    border-radius: 1rem;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: goldenrod;
}